CREATE DATABASE [TradeDB]
GO
USE [TradeDB]
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] PRIMARY KEY NOT NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NULL
)
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL
)
GO
CREATE TABLE [dbo].[User](
	[Id] [int] PRIMARY KEY NOT NULL,
	[UserInfoId] [int] NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
	[UserRoleId] [int] NOT NULL, 
	FOREIGN KEY ([UserRoleId]) REFERENCES [Role] (Id),
	FOREIGN KEY ([UserInfoId]) REFERENCES [UserInfo](Id)
)
GO
CREATE TABLE [dbo].[OrderPickupPoint](
	[Id] [int] PRIMARY KEY NOT NULL,
	[Index] [int] NOT NULL,
	[Street] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] PRIMARY KEY NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] PRIMARY KEY NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderPickupPointId] [int] NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[Amount] [int] NOT NULL,
	FOREIGN KEY ([OrderStatusId]) REFERENCES [OrderStatus] (Id),
	FOREIGN KEY ([OrderPickupPointId]) REFERENCES [OrderPickupPoint] (Id),
	FOREIGN KEY ([UserId]) REFERENCES [User] (Id)
)
GO
CREATE TABLE [dbo].[ProductСategory](
	[Id] [int] PRIMARY KEY NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[ProductManufacturer](
	[Id] [int] PRIMARY KEY NOT NULL,
	[ProductManufacturerName] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[ProductName](
	[Id] [int] PRIMARY KEY NOT NULL,
	[NameProduct] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[GoodsSupplier](
	[Id] [int] PRIMARY KEY NOT NULL,
	[GoodsSupplierName] [nvarchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] PRIMARY KEY NOT NULL,
	[ProductArticleNumber] [nvarchar](50) NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[ProductDescription] [nvarchar](max) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductPhoto] [image] NULL,
	[ProductManufacturerId] [int] NOT NULL,
	[GoodsSupplierId] [int] NOT NULL,
	[ProductCost] [decimal](19, 4) NOT NULL,
	[ProductDiscountAmount] [tinyint] NULL,
	[ProductQuantityInStock] [int] NOT NULL,
	FOREIGN KEY ([ProductNameId]) REFERENCES [ProductName] (Id),
	FOREIGN KEY ([ProductCategoryId]) REFERENCES [ProductСategory] (Id), 
	FOREIGN KEY ([ProductManufacturerId]) REFERENCES [ProductManufacturer] (Id),
	FOREIGN KEY ([GoodsSupplierId]) REFERENCES [GoodsSupplier] (Id)
)
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	PRIMARY KEY ([OrderId],[ProductId]),
	FOREIGN KEY ([OrderId]) REFERENCES [Order] (Id),
	FOREIGN KEY ([ProductId]) REFERENCES [Product] (Id)
)
GO
INSERT [dbo].[UserInfo] ([Id], [UserSurname], [UserName], [UserPatronymic]) VALUES (1, N'Басова', N'Амина', N'Кирилловна')
INSERT [dbo].[UserInfo] ([Id], [UserSurname], [UserName], [UserPatronymic]) VALUES (2, N'Михайлов', N'Андрей', N'Денисович')
INSERT [dbo].[UserInfo] ([Id], [UserSurname], [UserName], [UserPatronymic]) VALUES (3, N'Сидоров', N'Егор', N'Александрович')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[User] ([Id], [UserInfoId], [UserLogin], [UserPassword], [UserRoleId]) VALUES (1, 1, N'klh7pi4rcbtz@gmail.com', N'2L6KZG', 1)
INSERT [dbo].[User] ([Id], [UserInfoId], [UserLogin], [UserPassword], [UserRoleId]) VALUES (2, 2, N'gn0354mbiork@outlook.com', N'uzWC67', 1)
INSERT [dbo].[User] ([Id], [UserInfoId], [UserLogin], [UserPassword], [UserRoleId]) VALUES (3, 3, N'1o4l05k8dwpv@yahoo.com', N'8ntwUp', 1)
GO
INSERT [dbo].[OrderPickupPoint] ([Id], [Index], [Street]) VALUES (1, 344288, N' ул. Чехова 1')
INSERT [dbo].[OrderPickupPoint] ([Id], [Index], [Street]) VALUES (2, 614164, N'  ул. Степная 30')
INSERT [dbo].[OrderPickupPoint] ([Id], [Index], [Street]) VALUES (3, 394242, N' ул. Коммунистическая 43')
GO
INSERT [dbo].[OrderStatus] ([Id], [StatusName]) VALUES (1, N'Новый')
INSERT [dbo].[OrderStatus] ([Id], [StatusName]) VALUES (2, N'Завершён')
GO
INSERT [dbo].[Order] ([Id], [OrderStatusId], [OrderDate], [OrderPickupPointId], [OrderDeliveryDate], [UserId], [Amount]) VALUES (1, 2, CAST(N'2022-05-15T00:00:00.000' AS DateTime), 18, CAST(N'2022-05-21T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Order] ([Id], [OrderStatusId], [OrderDate], [OrderPickupPointId], [OrderDeliveryDate], [UserId], [Amount]) VALUES (2, 2, CAST(N'2022-05-15T00:00:00.000' AS DateTime), 18, CAST(N'2022-05-21T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Order] ([Id], [OrderStatusId], [OrderDate], [OrderPickupPointId], [OrderDeliveryDate], [UserId], [Amount]) VALUES (3, 1, CAST(N'2022-05-16T00:00:00.000' AS DateTime), 14, CAST(N'2022-05-22T00:00:00.000' AS DateTime), NULL, 15)
GO
INSERT [dbo].[ProductСategory] ([Id], [CategoryName]) VALUES (1, N'Общестроительные материалы
')
INSERT [dbo].[ProductСategory] ([Id], [CategoryName]) VALUES (2, N'Стеновые и фасадные материалы
')
INSERT [dbo].[ProductСategory] ([Id], [CategoryName]) VALUES (3, N'Сухие строительные смеси и гидроизоляция
')
GO
INSERT [dbo].[ProductManufacturer] ([Id], [ProductManufacturerName]) VALUES (1, N'М500')
INSERT [dbo].[ProductManufacturer] ([Id], [ProductManufacturerName]) VALUES (2, N'Изостронг')
INSERT [dbo].[ProductManufacturer] ([Id], [ProductManufacturerName]) VALUES (3, N'Knauf')
GO
INSERT [dbo].[ProductName] ([Id], [NameProduct]) VALUES (1, N'Цемент')
INSERT [dbo].[ProductName] ([Id], [NameProduct]) VALUES (2, N'Пленка техническая')
INSERT [dbo].[ProductName] ([Id], [NameProduct]) VALUES (3, N'Песок строительный')
GO
INSERT [dbo].[GoodsSupplier] ([Id], [GoodsSupplierName]) VALUES (1, N'М500')
INSERT [dbo].[GoodsSupplier] ([Id], [GoodsSupplierName]) VALUES (2, N'Изостронг')
INSERT [dbo].[GoodsSupplier] ([Id], [GoodsSupplierName]) VALUES (3, N'Knauf')
GO
INSERT [dbo].[Product] ([Id], [ProductArticleNumber], [ProductNameId], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ProductManufacturerId], [GoodsSupplierId], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock]) VALUES (1, N'PMEZMH', 1, N'Цемент Евроцемент М500 Д0 ЦЕМ I 42,5 50 кг', 1, NULL, 1, 1, CAST(440.0000 AS Decimal(19, 4)), 10, 34)
INSERT [dbo].[Product] ([Id], [ProductArticleNumber], [ProductNameId], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ProductManufacturerId], [GoodsSupplierId], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock]) VALUES (2, N'BPV4MM', 2, N'Пленка техническая полиэтиленовая Изостронг 60 мк 3 м рукав 1,5 м, пог.м', 1, NULL, 2, 2, CAST(8.0000 AS Decimal(19, 4)), 13, 2)
INSERT [dbo].[Product] ([Id], [ProductArticleNumber], [ProductNameId], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ProductManufacturerId], [GoodsSupplierId], [ProductCost], [ProductDiscountAmount], [ProductQuantityInStock]) VALUES (3, N'JVL42J', 2, N'Пленка техническая полиэтиленовая Изостронг 100 мк 3 м рукав 1,5 м, пог.м', 1, NULL, 2, 2, CAST(13.0000 AS Decimal(19, 4)), 1, 34)
GO
INSERT [dbo].[OrderProduct] ([OrderId], [ProductId]) VALUES (1, 1)
INSERT [dbo].[OrderProduct] ([OrderId], [ProductId]) VALUES (2, 2)
INSERT [dbo].[OrderProduct] ([OrderId], [ProductId]) VALUES (3, 3)
GO
