<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TradeDB" connectionString="metadata=res://*/VIewModel.TradeDBModel.csdl|res://*/VIewModel.TradeDBModel.ssdl|res://*/VIewModel.TradeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=32-9\SQLEXPRESS;initial catalog=Trade;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>